
<div class="banner">
    <div class="banner__slider-item">
        <div class="container">
            <div class="banner__inner">
                <h1 class="banner__title">Создаем <span class="banner__title--color">приложения</span><br> которые работают</h1>
                <p class="banner__description">Наши технологии для Ваших задач</p>
                <div class="banner__btn-group">
                    <button class="btn banner__btn-item">Заполнить бриф</button>
                    <button class="btn banner__btn-item">Обсудить проект</button>
                </div>
                <div class="banner__card">
                    <div class="banner__card-inner">
                        <div class="banner__card-item">
                            <img src="img/ban-card1.svg" class="banner__card-icon" />
                            <p class="banner__card-text">Работаем без аванса</p>
                        </div>
                        <div class="banner__card-item">
                            <img src="img/ban-card2.svg" class="banner__card-icon" />
                            <p class="banner__card-text">Цена ниже рынка</p>
                        </div>
                        <div class="banner__card-item">
                            <img src="img/ban-card3.svg" class="banner__card-icon" />
                            <p class="banner__card-text">Быстро и качественно</p>
                        </div>
                        <div class="banner__card-item">
                            <img src="img/ban-card4.svg" class="banner__card-icon" />
                            <p class="banner__card-text">40 человек в команде</p>
                        </div>
                        <div class="banner__card-item">
                            <img src="img/ban-card5.svg" class="banner__card-icon" />
                            <p class="banner__card-text">Работа с гос. закупками</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner__slider-item">
        <div class="container">
            <div class="banner__inner">
                <h1 class="banner__title">Создаем <span class="banner__title--color">приложения</span><br> которые работают</h1>
                <p class="banner__description">Наши технологии для Ваших задач</p>
                <div class="banner__btn-group">
                    <button class="btn banner__btn-item">Заполнить бриф</button>
                    <button class="btn banner__btn-item">Обсудить проект</button>
                </div>
                <div class="banner__card">
                    <div class="banner__card-inner">
                        <div class="banner__card-item">
                            <img src="img/ban-card1.svg" class="banner__card-icon" />
                            <p class="banner__card-text">Работаем без аванса</p>
                        </div>
                        <div class="banner__card-item">
                            <img src="img/ban-card2.svg" class="banner__card-icon" />
                            <p class="banner__card-text">Цена ниже рынка</p>
                        </div>
                        <div class="banner__card-item">
                            <img src="img/ban-card3.svg" class="banner__card-icon" />
                            <p class="banner__card-text">Быстро и качественно</p>
                        </div>
                        <div class="banner__card-item">
                            <img src="img/ban-card4.svg" class="banner__card-icon" />
                            <p class="banner__card-text">40 человек в команде</p>
                        </div>
                        <div class="banner__card-item">
                            <img src="img/ban-card5.svg" class="banner__card-icon" />
                            <p class="banner__card-text">Работа с гос. закупками</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner__slider-item">
        <div class="container">
            <div class="banner__inner">
                <h1 class="banner__title">Создаем <span class="banner__title--color">приложения</span><br> которые работают</h1>
                <p class="banner__description">Наши технологии для Ваших задач</p>
                <div class="banner__btn-group">
                    <button class="btn banner__btn-item">Заполнить бриф</button>
                    <button class="btn banner__btn-item">Обсудить проект</button>
                </div>
                <div class="banner__card">
                    <div class="banner__card-inner">
                        <div class="banner__card-item">
                            <img src="img/ban-card1.svg" class="banner__card-icon" />
                            <p class="banner__card-text">Работаем без аванса</p>
                        </div>
                        <div class="banner__card-item">
                            <img src="img/ban-card2.svg" class="banner__card-icon" />
                            <p class="banner__card-text">Цена ниже рынка</p>
                        </div>
                        <div class="banner__card-item">
                            <img src="img/ban-card3.svg" class="banner__card-icon" />
                            <p class="banner__card-text">Быстро и качественно</p>
                        </div>
                        <div class="banner__card-item">
                            <img src="img/ban-card4.svg" class="banner__card-icon" />
                            <p class="banner__card-text">40 человек в команде</p>
                        </div>
                        <div class="banner__card-item">
                            <img src="img/ban-card5.svg" class="banner__card-icon" />
                            <p class="banner__card-text">Работа с гос. закупками</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner__slider-item">
        <div class="container">
            <div class="banner__inner">
                <h1 class="banner__title">Создаем <span class="banner__title--color">приложения</span><br> которые работают</h1>
                <p class="banner__description">Наши технологии для Ваших задач</p>
                <div class="banner__btn-group">
                    <button class="btn banner__btn-item">Заполнить бриф</button>
                    <button class="btn banner__btn-item">Обсудить проект</button>
                </div>
                <div class="banner__card">
                    <div class="banner__card-inner">
                        <div class="banner__card-item">
                            <img src="img/ban-card1.svg" class="banner__card-icon" />
                            <p class="banner__card-text">Работаем без аванса</p>
                        </div>
                        <div class="banner__card-item">
                            <img src="img/ban-card2.svg" class="banner__card-icon" />
                            <p class="banner__card-text">Цена ниже рынка</p>
                        </div>
                        <div class="banner__card-item">
                            <img src="img/ban-card3.svg" class="banner__card-icon" />
                            <p class="banner__card-text">Быстро и качественно</p>
                        </div>
                        <div class="banner__card-item">
                            <img src="img/ban-card4.svg" class="banner__card-icon" />
                            <p class="banner__card-text">40 человек в команде</p>
                        </div>
                        <div class="banner__card-item">
                            <img src="img/ban-card5.svg" class="banner__card-icon" />
                            <p class="banner__card-text">Работа с гос. закупками</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>