<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__logo">
        <img src="img/logo.svg" alt="" class="footer__logo-img">
        <h5 class="footer__logo-title">Вакансии</h5>
        <p class="footer__logo-text">Политика конфиденциальности</p>
        <p class="footer__logo-text footer__logo-text--blur">Все права защищены</p>
      </div>
      <nav class="footer__nav">
        <ul class="footer__list">
          <li class="footer__item">
            <h4 href="" class="footer__title">Услуги</h4>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Веб-разработка</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Повышение <br> эффективности</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Сопровождение <br>и тестирование</a>
          </li>
        </ul>
        <ul class="footer__list">
          <li class="footer__item">
            <h4 href="" class="footer__title">Продукты</h4>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">SPA</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">ERP-система</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Выпуск ЭЦП</a>
          </li>
        </ul>
        <ul class="footer__list">
          <li class="footer__item">
            <h4 href="" class="footer__title">Портфолио</h4>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Все сайты</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Корпоративный сайт</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Медиа портал</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">Веб-сайт</a>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">ERP-система</a>
          </li>
        </ul>
        <ul class="footer__list">
          <li class="footer__item">
            <h4 href="" class="footer__title">Контакты</h4>
          </li>
          <li class="footer__item">
              <span class="footer__inner-icon">
                <svg class="header__phone-icon"><use xlink:href="img/sprites.svg#nav-phone"></use></svg>
                <a href="" class="footer__link">+ 7 (812) 40 99 200</a>
              </span>
          </li>
          <li class="footer__item">
            <span class="footer__inner-icon">
              <svg class="footer__location-icon"><use xlink:href="img/sprites.svg#location"></use></svg>
              <a href="" class="footer__link">СПБ, пер. Либавский, 5/3</a>
            </span>
          </li>
          <li class="footer__item">
            <span class="footer__inner-icon">
              <svg class="footer__global-icon"><use xlink:href="img/sprites.svg#global"></use></svg>
              <a href="#" class="footer__link">info@serviceweb.su</a>
            </span>
          </li>
        </ul>
        <ul class="footer__list">
          <li class="footer__item">
            <h4 href="" class="footer__title">Блог</h4>
          </li>
          
        </ul>
        <ul class="footer__list">
          <li class="footer__item">
            <h4 href="" class="footer__title">Соцсети</h4>
          </li>
          <li class="footer__item">
            <a href="" class="footer__link">
              <svg class="footer__social-icon"><use xlink:href="img/sprites.svg#vk"></use></svg>
            </a>
            <a href="" class="footer__link">
              <svg class="footer__social-icon"><use xlink:href="img/sprites.svg#instagram"></use></svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
