<header class="header">
  <div class="container">
    <div class="header__content">
      <a class="header__logo">
        <img class="header__logo-img" src="img/logo.svg" alt="">
      </a>
      <nav class="navbar header__navbar">
          <ul class="navbar__list">
            <li class="navbar__item"><a href="#" class="navbar__link">О нас</a></li>
            <li class="navbar__item"><a href="#" class="navbar__link">Гос. закупки</a></li>
            <li class="navbar__item"><a href="#" class="navbar__link">Услуги</a>
              <ul class="navbar__sub-list">
                <li class="li navbar__sub-item">
                  <a href="#" class="navbar__sub-link">Веб-разработка</a>
                </li>
                <li class="li navbar__sub-item">
                  <a href="#" class="navbar__sub-link">Повышение<br> эффективности</a>
                </li>
                <li class="li navbar__sub-item">
                  <a href="#" class="navbar__sub-link">Сопровождение<br> и тестирование</a>
                </li>
              </ul>
            </li>
            <li class="navbar__item"><a href="#" class="navbar__link">Продукты</a>
              <ul class="navbar__sub-list">
                <li class="li navbar__sub-item">
                  <a href="#" class="navbar__sub-link">SPA</a>
                </li>
                <li class="li navbar__sub-item">
                  <a href="#" class="navbar__sub-link">ERP-система</a>
                </li>
                <li class="li navbar__sub-item">
                  <a href="#" class="navbar__sub-link">Выпуск ЭЦП</a>
                </li>
              </ul>
            </li>
            <li class="navbar__item"><a href="#" class="navbar__link">Контакты</a></li>
          </ul>
      </nav>
      <ul class="header__contact">
        <li class="header__contact-item">
          <svg class="header__location-icon"><use xlink:href="img/sprites.svg#location"></use></svg>
          <ul class="header__contact-sub-list header__contact-sub-list--location">
            <li class="header__contact-sub-item ">
              
              <div href="" class="header__contact-sub-link">
                Location+7(812)40-99-200
              </div>
            </li>
          </ul>
        </li>
        <li class="header__contact-item">
          <span class="header__inner-phone">
            <svg class="header__phone-icon"><use xlink:href="img/sprites.svg#nav-phone"></use></svg>
            <a href="#" class="header__contact-link">+7 (812) 40-99-200</a>
          </span>
          <ul class="header__contact-sub-list">
            <li class="header__contact-sub-item">
              <a href="" class="header__contact-sub-link">+7(812)40-99-200</a>
            </li>
            <li class="header__contact-sub-item">
              <a href="" class="header__contact-sub-link">+7(812)40-99-200</a>
            </li>
            <li class="header__contact-sub-item">
              <a href="" class="header__contact-sub-link">+7(812)40-99-200</a>
            </li>
          </ul>
        </li>
        <li class="header__contact-item">
          <span class="inner-icon">
            <svg class="header__bars-icon"><use xlink:href="img/sprites.svg#bars"></use></svg>
            <!-- <svg class="header__close-icon"><use xlink:href="img/sprites.svg#close"></use></svg> -->
          </span>
          <ul class="header__contact-sub-list">
            <li class="header__contact-sub-item">
              <a href="" class="header__contact-sub-link">Портфолио</a>
            </li>
            <li class="header__contact-sub-item">
              <a href="" class="header__contact-sub-link">Реквизиты</a>
            </li>
            <li class="header__contact-sub-item">
              <a href="" class="header__contact-sub-link">Партнерам</a>
            </li>
            <li class="header__contact-sub-item">
              <a href="" class="header__contact-sub-link">Вакансии</a>
            </li>
            <li class="header__contact-sub-item">
              <a href="" class="header__contact-sub-link">Документы</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
